name: Lint

on:
  workflow_dispatch:
  push:
    branches:
      - '*'
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
      - run: python -m pip install -e .[dev]
      - run: python -m mypy -p wikitextprocessor
      - run: python -m ruff .
      - run: python -m ruff format --diff .
      - uses: crate-ci/typos@v1.17.0
